.container {
    display: grid;
    /*center the grid*/
    justify-content: center;
}

.container div {
    flex-shrink: 0;
    background-color:  #fff;
    border-radius: 25px;
    cursor: pointer;
    outline: 2px black solid;
}

.container__feature1 {
    margin-top: 0;
    width: 400px;
    height: 200px;
}

.container__feature1 h1 {
    text-align: center;
    font: var(--font-family);
    font-size: 1.5em;
    margin-top: 20%;
}

.container div:hover {
    background-color: #c9c5c5;
}

.container__feature2 {
    margin-top: -10%;
    width: 400px;
    height: 200px;
}

.container__feature2 h1 {
    text-align: center;
    font: var(--font-family);
    font-size: 1.5em;
    margin-top: 20%;
}

.container__feature3 {
    margin-top: -10%;
    width: 400px;
    height: 200px;
}

.container__feature3 h1 {
    text-align: center;
    font: var(--font-family);
    font-size: 1.5em;
    margin-top: 20%;
}

/********************************************** MEDIA SCREENS **********************************************/
@media screen and (max-width: 550px) {
    .container__feature1 {
        margin-top: 0;
        width: 100%;
        height: 200px;
    }

    

    .container__feature2 {
        margin-top: -25%;
        width: 100%;
        height: 200px;
    }


    .container__feature3 {
        margin-top: -25%;
        width: 100%;
        height: 200px;
    }

}

