
.gpt3__header--hero--padding {
    display: flex;
    width: 897px;
    height: 409px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}


.gpt3__header--hero--text {
    color: #FFF;
    text-align: left;
    font-family: var(--font-family);
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gpt3__header--hero--background--padding,
.gpt3__header--hero--background {
    display: flex;
    width: 100%;
    height: 733px;
    flex-shrink: 0;

    background: url('../../assets/robot.png');
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.gpt3__navbar--hero--subtext_layout,
.gpt3__navbar--hero--subtext {
    color: #FFF;
    font-family: var(--font-family);
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    width: 515px;
    height: 256px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.gpt3__navbar--hero--email__input {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: relative;
    top: -100px;    
}


.gpt3__navbar--hero--email__input button {
    background: #042C54;
    min-height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-family: var(--font-family);
    border-radius: 20px;
}

/********************************************** MEDIA SCREENS **********************************************/

@media screen and (max-width: 1050px) {
    .gpt3__header--hero--text
    {
        font-size: 150px; 
    }
}

@media screen and (max-width: 750px) {
    .gpt3__header--hero--text
    {
        font-size: 100px; 
    }

    .gpt3__navbar--hero--subtext_layout,
    .gpt3__navbar--hero--subtext {
        width: 100%;
        height: 12em;
        flex-direction: column;
        justify-content: left;
        flex-shrink: 0;
    }

    .gpt3__header--hero--padding {
        height: 200px;
    }
}

@media screen and (max-width: 320px) {
    .gpt3__header--hero--text
    {
        font-size: 100px; 
    }
}



